<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <!--<include file="$(/home/ros/audio_ws/-->
  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" />
  <!--<node name="sans" pkg="main_pkg" type="sans" />-->
  <node name="sound_node" pkg="main_pkg" type="sound" />
  <node name="led_node" pkg="main_pkg" type="led" />
</launch>
